@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: 'DM Sans', 'Titan One', sans-serif;
  color: var(--main-text);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.link {
  text-decoration: none;
  font-family: inherit;
  display: inline-block;
}

.list {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  --main-text: #000000;
  --second-text: #907e82;
  --white-text: #ffffff;
  --title-text: #d41443;
  --accent-color: #ffa5ba;
  --main-bg: #fff5f6;
  --second-bg: #ffb8ca;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero {
  background-color: var(--second-bg);
  padding-top: 136px;
  padding-bottom: 307px;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 421px;
  }
}

.hero-wraper {
  position: absolute;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .hero-wraper {
    left: 32px;
    top: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-wraper {
    top: 188px;
    left: 16px;
  }
}

.hero-title {
  font-family: 'Titan One';
  font-style: normal;
  color: var(--white-text);
  font-weight: 400;
  font-size: 28px;
  line-height: 1.153;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 22px;
    line-height: 1.136;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 38px;
    line-height: 1.157;
  }
}

.hero-title-color {
  color: var(--title-text);
  font-size: 50px;
  line-height: 0.88;
  display: contents;
}

@media screen and (min-width: 768px) {
  .hero-title-color {
    font-size: 35px;
    line-height: 0.91;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title-color {
    font-size: 59px;
    line-height: 0.745;
  }
}

.hero-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.hero-item:not(:first-child) {
  margin-left: 8px;
}

@media screen and (min-width: 1280px) {
  .hero-item:not(:first-child) {
    margin-left: 12px;
  }
}

.hero-btn {
  cursor: pointer;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: var(--white-text);
  background-color: var(--title-text);
  border-radius: 20px;
  padding: 8px 16px;
  border: transparent;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
}

.hero-btn:hover {
  background-color: #C7133E;
}

@media screen and (min-width: 1280px) {
  .hero-btn {
    font-size: 14px;
    line-height: 1.285;
    padding: 11px 18px;
  }
}

.hero-btn-last {
  background-color: var(--white-text);
  color: var(--title-text);
}

.hero-btn-last:hover {
  background-color: #ECEBEB;
}

.hero-list-time {
  position: absolute;
  right: 40px;
  top: 122px;
}

@media screen and (max-width: 767px) {
  .hero-list-time {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .hero-list-time {
    top: 190px;
    right: 16px;
  }
}

.hero-item-time:not(:last-child) {
  margin-bottom: 17px;
}

.hero-text-time {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--title-text);
}

@media screen and (min-width: 1280px) {
  .hero-text-time {
    font-size: 46px;
    line-height: 1.152;
  }
}

.hero-number {
  position: absolute;
  right: 3%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--white-text);
}

@media screen and (min-width: 1280px) {
  .hero-number {
    width: 30px;
    height: 30px;
  }
}

.hero-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: var(--white-text);
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .hero-text {
    font-size: 14px;
    line-height: 1.286;
  }
}

.hero-thumb {
  position: absolute;
  top: 61%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .hero-thumb {
    top: 63%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.wraper {
  position: absolute;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: var(--accent-color);
  top: 45%;
  left: 64%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .wraper {
    width: 335px;
    height: 333px;
    top: 52%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1280px) {
  .wraper {
    width: 534px;
    height: 534px;
  }
}

.hero-thumb-milk {
  position: absolute;
  bottom: 16px;
  left: 32px;
}

@media screen and (max-width: 767px) {
  .hero-thumb-milk {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .hero-thumb-milk {
    left: 16px;
    bottom: 60px;
  }
}

.hero-text-milc {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: var(--white-text);
  width: 114px;
  position: absolute;
  left: 147px;
  bottom: 67px;
}

@media screen and (min-width: 1280px) {
  .hero-text-milc {
    font-size: 14px;
    line-height: 1.428;
    width: 200px;
    left: 215px;
    bottom: 75px;
  }
}

.hero-btn-milk {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  left: 146px;
  bottom: 43px;
  border: none;
  background-color: var(--white-text);
  background-image: url(/images/mobile/products/arrow-right.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-btn-milk {
    background-image: url(/images/mobile/products/arrow-right2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .hero-btn-milk {
    width: 26px;
    height: 26px;
    left: 214px;
    bottom: 30px;
  }
}

.hero-thumb-girl {
  position: absolute;
  right: 32px;
  bottom: 1px;
}

@media screen and (max-width: 767px) {
  .hero-thumb-girl {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .hero-thumb-girl {
    right: 16px;
  }
}

.footer {
  background-color: var(--main-bg);
  border-bottom: 1px solid #E1E1E1;
}

.footer__extra {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: var(--second-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */