<section class="about section about__section about__milk" id="how-it-is-made">
  <div class="about__main container">
    <p class="about__text">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__container">
      <div class="about__cow">
        <picture>
          <source
            srcset="./images/desktop/about/cow.png 1x, ./images/desktop/about/cow2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/tablet/about/cow.png 1x, ./images/tablet/about/cow2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/mobile/about/cow.png 1x, ./images/mobile/about/cow2x.png 2x"
            media="(min-width: 320px)"
          />
          <img src="./images/mobile/about/cow.png" alt="cow" class="about__img" />
        </picture>
      </div>
      <div class="about__wrap">
        <p class="about__item-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__item-text about__item-text--pink">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__item-text about__item-text--pink about__item-text--last">
          Aliquam erat volutpat. Aenean accumsan.
        </p>

        <button type="button" class="about__btn readmore-open">
          Read more
          <svg class="about__icon" width="10" height="10">
            <use href="./images/svg/sprite.svg#icon-vector"></use>
          </svg>
        </button>
        <div class="readmore is-hidden">
          <div class="button-hidden"></div>
          <p class="readmore__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque rerum similique odit ea
            iure, exercitationem quos nemo aliquid eos in atque, at impedit perferendis ipsam
            mollitia commodi, laudantium voluptatum ducimus! Voluptas quibusdam ipsa praesentium
            cum! Deleniti numquam, porro quibusdam voluptatem autem ipsa suscipit? Quis tempora
            totam molestiae laboriosam minima hic?
          </p>
          <button type="button" class="about__btn readmore-close">
            Read less
            <svg class="about__icon about__icon--rote" width="10" height="10">
              <use href="./images/svg/sprite.svg#icon-vector"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
