<section class="section-adv advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <div id="counter">
      <ul class="advantages-list">
        <li class="advantages-item">
          <div data-num="721" class="number advantages-title">721</div>
          <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-item">
          <div data-num="16kg" class="number advantages-title">16kg</div>
          <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-item">
          <div data-num="84" class="number advantages-title">84</div>
          <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="section-adv advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <div id="counter">
      <ul class="advantages-list">
        <li class="advantages-item">
          <div data-num="721" class="number advantages-title">721</div>
          <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-item">
          <div data-num="16kg" class="number advantages-title">16kg</div>
          <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-item">
          <div data-num="84" class="number advantages-title">84</div>
          <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
