<section class="section-advantages">
  <div class="container" id="counter">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-item">
        <div data-num="721" class="number-adv advantages-number">0</div>
        <p class="advantages-text">Сow has special care to make her milk healthy and tasty for our deserts.</p>
      </li>
      <li class="advantages-item">
        <div data-num="16" class="number-adv advantages-number advantages-weight">0</div>
        <p class="advantages-text">That's how much strawberry we need every month to make your favorite flavor of ice cream.</p>
      </li>
      <li class="advantages-item">
        <div data-num="84" class="number-adv advantages-number">0</div>
        <p class="advantages-text">Milkshakes every day you buy in our cafes and food tracks.</p>
      </li>
    </ul>
  </div>
</section>
