<!-- <section class="section advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-item">
        <h3 class="advantages-title">721</h3>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-item">
        <h3 class="advantages-title">16kg</h3>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-item">
        <h3 class="advantages-title">84</h3>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section> -->
<section class="section advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <div id="counter">
      <ul class="advantages-list">
        <li class="advantages-item">
          <div data-num="721" class="number advantages-title">0</div>
          <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-item">
          <div data-num="16" class="number advantages-title advantages-title-kg">0</div>
          <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-item">
          <div data-num="84" class="number advantages-title">0</div>
          <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="./numcount.js"></script>
