<section class="section contacts ">
    <div class="container">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="contacts-list">
            <li class="contacts-item">
                <div class="contacts-box">
                    <p class="contacts-type cafe">CAFE</p>
                    <p class="contacts-title">Chicago</p>
                    <p lang="en" class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="schedule-list">
                        <li class="schedule-item">
                            <p class="schedule-days">Monday - Friday</p>
                            <span class="schedule-time">06:00 AM - 10:00 PM</span>
                        </li>
                        <li class="schedule-item">
                            <p class="schedule-days">Saturday - Sunday</p>
                            <span class="schedule-time">08:00 AM - 16:00 PM</span>
                        </li>
                    </ul>
                    <ul class="links">
                        <li>
                            <a href="tel:+61(0)38376628" class="contacts-link">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>                
            </li>
            <li class="contacts-item">
                <p class="contacts-type foodtruck">foodtruck</p>
                <p class="contacts-title">Los Angeles</p>
                <p lang="en" class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="schedule-list">
                    <li class="schedule-item">
                        <p class="schedule-days">Monday - Friday</p>
                        <span class="schedule-time">06:00 AM - 10:00 PM</span>
                    </li>
                    <li class="schedule-item">
                        <p class="schedule-days">Saturday - Sunday</p>
                        <span class="schedule-time">08:00 AM - 16:00 PM</span>
                    </li>
                </ul>
                <ul class="links">
                    <li>
                        <a href="tel:+61(0)38376628" class="contacts-link">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts-item">
                <p class="contacts-type cafe">CAFE</p>
                <p class="contacts-title">New York</p>
                <p lang="en" class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="schedule-list">
                    <li class="schedule-item">
                        <p class="schedule-days">Monday - Friday</p>
                        <span class="schedule-time">06:00 AM - 10:00 PM</span>
                    </li>
                    <li class="schedule-item">
                        <p class="schedule-days">Saturday - Sunday</p>
                        <span class="schedule-time">08:00 AM - 16:00 PM</span>
                    </li>
                </ul>
                <ul class="links">
                    <li>
                        <a href="tel:+61(0)38376628" class="contacts-link">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="contacts-button-list">
            <li class="contacts-button-item">
                <button type="button" class="contacts-button button-active" data-modal-open>Our Locations
          <svg class="button-icon" width="10px" height="10px">
                    <use class="" href="./images/svg/sprite.svg#icon-arrow"></use>
                </svg>
          </button>
            </li> 
            <li class="contacts-button-item">
                <button type="button" class="contacts-button button-reverse" data-modal-open2>Franchise
              <svg class="button-icon" width="10px" height="10px">
                    <use class="" href="./images/svg/sprite.svg#icon-arrow"></use>
                </svg>
              </button>
            </li>
        </ul>
    </div>
</section>
