<!-- Add Customers review -->
<section class="section section__customers" id="about">
  <div class="container">
    <h2 class="visually-hidden">Customers review</h2>
    <!-- Add Slider -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <!-- Add slide #1 -->
        <article class="swiper-slide">
          <img
            class="swiper-slide__img"
            srcset="
              ./images/mobile/testimonials/vika.png    1x,
              ./images/mobile/testimonials/vika@2x.png 2x,
              ./images/mobile/testimonials/vika@3x.png 3x
            "
            src="./images/mobile/testimonials/vika.png"
            alt="Nick's photo"
            width="85"
          />
          <div class="testimonial">
            <div class="testimonial__wrapper">
              <p class="testimonial__text">
                Especially enjoyed debugging the terminal, resolving conflicts and restoring the
                live page.
              </p>
            </div>
          </div>
          <p class="testimonial__name">Vika, Kyiv</p>
        </article>
        <!-- Add slide #2 -->
        <article class="swiper-slide">
          <img
            class="swiper-slide__img"
            srcset="
              /images/mobile/testimonials/olya.png    1x,
              /images/mobile/testimonials/olya@2x.png 2x,
              /images/mobile/testimonials/olya@3x.png 3x
            "
            src="/images/mobile/testimonials/olya.png"
            alt="Nick's photo"
            width="85"
          />
          <div class="testimonial">
            <div class="testimonial__wrapper">
              <p class="testimonial__text">
                What I liked most was creating a page header, a mobile menu, and customizing how to
                close that menu.
              </p>
            </div>
          </div>
          <p class="testimonial__name">Olya, Kyiv</p>
        </article>
        <!-- Add slide #3 -->
        <article class="swiper-slide">
          <img
            class="swiper-slide__img"
            srcset="
              ./images/mobile/testimonials/sasha.png    1x,
              ./images/mobile/testimonials/sasha@2x.png 2x,
              ./images/mobile/testimonials/sasha@3x.png 3x
            "
            src="./images/mobile/testimonials/sasha.png"
            alt="Nick's photo"
            width="85"
          />
          <div class="testimonial">
            <div class="testimonial__wrapper">
              <p class="testimonial__text">
                And I liked the Contacts section. I was especially surprised by the background with
                small spots.
              </p>
            </div>
          </div>
          <p class="testimonial__name">Sasha, Kyiv</p>
        </article>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
