<!-- Add Customers review -->
<article class="section">
  <div class="container">
    <!-- Add Slider Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <!-- Add Slide #1 -->
        <div class="swiper-slide">
          <img
            class="swiper-slide__img"
            srcset="
              ./images/mobile/testimonials/nick.png    1x,
              ./images/mobile/testimonials/nick@2x.png 2x,
              ./images/mobile/testimonials/nick@3x.png 3x
            "
            src="./images/mobile/testimonials/nick.png"
            alt="Nick's photo"
            width="85px"
          />
          <div class="testimonial">
            <div class="textimonial__wrapper">
              <p class="testimonial__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="testimonial__name">Nick, Ternopil</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</article>
