<div class="backdrop is-hidden" data-modal2>
    <div class="modal">
        <h2 class="form__title">Open your business</h2>
        <p class="callback">leave your details we will call you back</p>
<button type="button" class="button__svg" data-modal-close2>
    <svg class="icon-close" width="20px" height="20px">
        <use href="/images/svg/sprite.svg#icon-close_40px"></use>
    </svg>
</button>
<form >
    <div class="form">
        <label class="form__name">
            Name
            <input type="text" class="form__input" name="user__name">
<svg class="input__svg" width="20px" height="20px">
    <use href="/images/svg/sprite.svg#icon-person-black-18dp-1"></use>
</svg>
        </label>
    </div>
    <div class="form">
        <label class="form__name">
        Phone
            <input type="text" class="form__input" name="user__name">
            <svg class="input__svg" width="20px" height="20px">
                <use href="/images/svg/sprite.svg#icon-phone-black-18dp-1"></use>
            </svg>
        </label>
    </div>
    <div class="form">
        <label class="form__name">
            E-mail
            <input type="text" class="form__input" name="user__name">
            <svg class="input__svg" width="20px" height="20px">
                <use href="/images/svg/sprite.svg#icon-email-black-18dp-1"></use>
            </svg>
        </label>
    </div>
    <div class="form">
        <label for="user-text" class="form__name" >Comment</label>
        <textarea class="modal-coment" placeholder="Enter text" name="user-text" id="user-text"></textarea>
    </div>
    <div class="form">
        <input type="checkbox" class="form-check visually-hidden" id="form-check" name="check">
        <label for="form-check" class="agreement">I accept the terms of the contract</label>
    </div>
    <button type="submit" class="form__button button-text" >Send</button>

</form>

    </div>
</div>