<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__thumb">
      <div class="gallery__column column-1">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  /images/mobile/gallery/image-1.jpg    1x,
                  /images/mobile/gallery/image-1@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  /images/tablet/gallery/image-1.jpg    1x,
                  /images/tablet/gallery/image-1@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  /images/desktop/gallery/image-1.jpg    1x,
                  /images/desktop/gallery/image-1@2x.jpg 2x
                "
                src="/images/desktop/gallery/image-1.jpg"
                alt="Ice cream picture"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column column-2">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  /images/mobile/gallery/image-2.jpg    1x,
                  /images/mobile/gallery/image-2@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  /images/tablet/gallery/image-2.jpg    1x,
                  /images/tablet/gallery/image-2@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  /images/desktop/gallery/image-2.jpg    1x,
                  /images/desktop/gallery/image-2@2x.jpg 2x
                "
                src="/images/desktop/gallery/image-2.jpg"
                alt="Ice cream picture"
              />
            </picture>
          </div>
        </div>

        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  /images/mobile/gallery/image-3.jpg    1x,
                  /images/mobile/gallery/image-3@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  /images/tablet/gallery/image-3.jpg    1x,
                  /images/tablet/gallery/image-3@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  /images/desktop/gallery/image-3.jpg    1x,
                  /images/desktop/gallery/image-3@2x.jpg 2x
                "
                src="/images/desktop/gallery/image-3.jpg"
                alt="Ice cream picture"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column big-img">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  /images/mobile/gallery/image-4.jpg    1x,
                  /images/mobile/gallery/image-4@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  /images/tablet/gallery/image-4.jpg    1x,
                  /images/tablet/gallery/image-4@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  /images/desktop/gallery/image-4.jpg    1x,
                  /images/desktop/gallery/image-4@2x.jpg 2x
                "
                src="/images/desktop/gallery/image-4.jpg"
                alt="Ice cream picture"
              />
            </picture>
          </div>
        </div>

        <div class="gallery__row small-img">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  /images/mobile/gallery/image-5.jpg    1x,
                  /images/mobile/gallery/image-5@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  /images/tablet/gallery/image-5.jpg    1x,
                  /images/tablet/gallery/image-5@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  /images/desktop/gallery/image-5.jpg    1x,
                  /images/desktop/gallery/image-5@2x.jpg 2x
                "
                src="/images/desktop/gallery/image-5.jpg"
                alt="Ice cream picture"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column column-4">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  /images/mobile/gallery/image-6.jpg    1x,
                  /images/mobile/gallery/image-6@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  /images/tablet/gallery/image-6.jpg    1x,
                  /images/tablet/gallery/image-6@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  /images/desktop/gallery/image-6.jpg    1x,
                  /images/desktop/gallery/image-6@2x.jpg 2x
                "
                src="/images/desktop/gallery/image-6.jpg"
                alt="Ice cream picture"
              />
            </picture>
          </div>
        </div>

        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  /images/mobile/gallery/image-7.jpg    1x,
                  /images/mobile/gallery/image-7@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  /images/tablet/gallery/image-7.jpg    1x,
                  /images/tablet/gallery/image-7@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  /images/desktop/gallery/image-7.jpg    1x,
                  /images/desktop/gallery/image-7@2x.jpg 2x
                "
                src="/images/desktop/gallery/image-7.jpg"
                alt="Ice cream picture"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column column-5">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  /images/mobile/gallery/image-8.jpg    1x,
                  /images/mobile/gallery/image-8@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  /images/tablet/gallery/image-8.jpg    1x,
                  /images/tablet/gallery/image-8@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  /images/desktop/gallery/image-8.jpg    1x,
                  /images/desktop/gallery/image-8@2x.jpg 2x
                "
                src="/images/desktop/gallery/image-8.jpg"
                alt="Ice cream picture"
              />
            </picture>
          </div>
        </div>

        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  /images/mobile/gallery/image-9.jpg    1x,
                  /images/mobile/gallery/image-9@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  /images/tablet/gallery/image-9.jpg    1x,
                  /images/tablet/gallery/image-9@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  /images/desktop/gallery/image-9.jpg    1x,
                  /images/desktop/gallery/image-9@2x.jpg 2x
                "
                src="/images/desktop/gallery/image-9.jpg"
                alt="Ice cream picture"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column column-6">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  /images/mobile/gallery/image-10.jpg    1x,
                  /images/mobile/gallery/image-10@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  /images/tablet/gallery/image-10.jpg    1x,
                  /images/tablet/gallery/image-10@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  /images/desktop/gallery/image-10.jpg    1x,
                  /images/desktop/gallery/image-10@2x.jpg 2x
                "
                src="/images/desktop/gallery/image-10.jpg"
                alt="Ice cream picture"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
