<header class="header" id="sticky-header">
  <div class="container header__container">
    <a href="./index.html" class="header__logo">
      <img src="./images/mobile/logo/logo-test.png" alt="icecream" width="50" />
      <span class="header__logo-text">icecream</span>
    </a>

    <nav class="navigation">
      <ul class="site-nav">
        <li class="site-nav__item">
          <a href="" class="site-nav__link site-nav__link--current">Home</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">About us</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Our products</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Contact</a>
        </li>
      </ul>
    </nav>

    <a href="" class="mobile-menu">
      <svg class="mobile-menu__icon" width="20px" height="12px">
        <use class="" href="./images/svg/sprite.svg#icon-burger"></use>
        >
      </svg>
    </a>

    <button class="button header__button">
      Buy now
      <svg class="" width="20px" height="12px">
        <use class="button-arrow" href="./images/svg/sprite.svg#icon-arrow"></use>
        >
      </svg>
    </button>
  </div>
</header>
