<section id="home" class="hero">
  <div class="container">
    <div class="hero-wraper">
      <h1 class="hero-title">ice cream<br>made with<span class="hero-title-color"><br>passion</span></h1>
      <ul class="hero-list">
        <li class="hero-item"><button onclick="window.location.href = '#products'" type="button"
            class="hero-btn">Products</button></li>
        <li class="hero-item"><button onclick="window.location.href = '#how-it-is-made'" type="button"
            class="hero-btn hero-btn-last">How it’s made?</button></li>
      </ul>
    </div>
    <ul class="hero-list-time">
      <li class="hero-item-time" style="position: relative;">
        <p class="hero-text-time">16</p>
        <span class="hero-number"></span>
        <p class="hero-text">cafes</p>
      </li>
      <li class="hero-item-time" style="position: relative;">
        <p class="hero-text-time">23</p>
        <span class="hero-number"></span>
        <p class="hero-text">food trucks</p>
      </li>
    </ul>
    <div class="wraper">
      <div class="hero-thumb">
        <picture>
          <source srcset="/images/desktop/hero/hero.png 1x,
                        /images/desktop/hero/hero2x.png 2x" media="(min-width:1280px)">
          <source srcset="/images/tablet/hero/hero.png 1x,
                        /images/tablet/hero/tablet-hero2x.png 2x" media="(min-width:768px)">
          <source srcset="/images/mobile/hero/hero.png 1x,
                        /images/mobile/hero/hero2x.png 2x" media="(min-width:320px)">
          <img src="/images/desktop/hero/hero.png" alt="Ice cream cone">
        </picture>
      </div>
    </div>
    <div class="hero-thumb-milk">
      <picture>
        <source srcset="/images/desktop/hero/milk.png 1x,
                    /images/desktop/hero/milk2x.png 2x" media="(min-width:1280px)">
        <source srcset="/images/tablet/hero/milk.png 1x,
                    /images/tablet/hero/milk2x.png 2x" media="(min-width:768px)">
        <img src="/images/desktop/hero/milk.png" alt="Jug of milk">
      </picture>
      <p class="hero-text-milc">We offer you our wonderful ice cream and milkshakes, which are made from homemade milk and natural products.
      </p>
      <button class="hero-btn-milk" type="button"></button>
    </div>
    <div class="hero-thumb-girl">
      <picture>
        <source srcset="/images/desktop/hero/girl.png 1x,
                    /images/desktop/hero/girl2x.png 2x" media="(min-width:1280px)">
        <source srcset="/images/tablet/hero/girl.png 1x,
                    /images/tablet/hero/girl2x.png 2x" media="(min-width:768px)">
        <img src="/images/desktop/hero/girl.png" alt="Girl with ice cream">
      </picture>
    </div>
  </div>
</section>