<section class="hero" id="home">
  <div class="container">
    <div class="hero-wraper">
      <h1 class="hero-title">
        ice cream<br />made with<span class="hero-title-color"><br />passion</span>
      </h1>
      <ul class="hero-list">
        <li class="hero-item"><button type="button" class="hero-btn">Products</button></li>
        <li class="hero-item">
          <button type="button" class="hero-btn hero-btn-last">How it’s made?</button>
        </li>
      </ul>
    </div>
    <div class="wraper">
      <div class="thumb">
        <picture>
          <source
            srcset="/images/desktop/hero/hero.png 1x, /images/desktop/hero/hero2x.png 2x"
            media="(min-width:1280px)"
          />
          <source
            srcset="/images/tablet/hero/hero.png 1x, /images/tablet/hero/tablet-hero2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="/images/mobile/hero/hero.png 1x, /images/mobile/hero/hero2x.png 2x"
            media="(min-width:320px)"
          />
          <img src="/images/desktop/hero/hero.png" alt="Ражок с мороженым" />
        </picture>
      </div>
    </div>
  </div>
</section>
