<section id="products" class="section-products">
    <div class="container">
        <p class="section__pre-title section-products__text">100% natural</p>
        <h2 class="section__title section-product__title">products</h2>

        <ul class="products">
            <li class="products__item product__item--pink list">
                <h3 class="products__title products__title--first">ice cream</h3>
                <p class="products__text">
                    -Ice cream and gelato, based on cream and milk. <br>
                    -Frozen yogurt, based on yogurt or kefir. <br>
                    <span class="products__text--dots">...</span>
                    <span class="products__text--more hidden">
                    -Frozen custard, with eggs added to cream and sugar. <br>
                    -Ice milk. <br>
                    -Sorbet/slushy, ice pop/popsicle/icicle: Water base. Examples: frozen cola, frozen lemonade, frozen tea. <br>
                    -Sherbet, like sorbet but with some milk added.
                    </span>
                </p>
                <button class="products__button" type="button"></button>
            </li>
            <li class="products__item product__item--yellow list">
                <h3 class="products__title products__title--second">ice coffee</h3>
                <p class="products__text">
                    -Banana Milk Coffee. <br>
                    -Cappuccino on Ice. <br>
                    -Creamy Iced Coffee. <br>
                    -Iced Caramel Macchiato <br>
                     <span class="products__text--dots">...</span>
                    <span class="products__text--more hidden">
                    -Easy Iced Coffee. <br>
                    -Cold-Brewed Coffee. <br>
                    -Vietnamese Iced Coffee. <br>
                    -Chocolate-y Iced Mocha. <br>
                    -Chocolate Peanut Butter Iced Coffee. <br>
                    -Caramel Coconut Iced Coffee. <br>
                    -Mocha Smoothie. <br>
                    -whiskey Ice Coffee.
                    </span>
                </p>
                <button class="products__button" type="button"></button>
            </li>
            <li class="products__item product__item--green list">
                <h3 class="products__title products__title--third">milkshakes</h3>
                <p class="products__text">
                    -Oreo Milkshake. <br>
                    -Strawberry Milkshake. <br>
                    -Vanilla Milkshake. <br>
                    -Chocolate Milkshake. <br>
                     <span class="products__text--dots">...</span>
                    <span class="products__text--more hidden">
                    -Banana Milkshake. <br>
                    -Salted Caramel Milkshake. <br>
                    -Mounds Bar Milkshake. <br>
                    -Cherry Vanilla Milkshake. <br>
                    -Mexican Chocolate. <br>
                    -Peanut Butter Milkshake. <br>
                    -Mint Oreo Milkshake. <br>
                    -Tiramisu Milkshake. <br>
                    -Grasshopper Milkshake. <br>
                    -Key Lime Pie Milkshake. <br>
                    </span>
                </p>

                <button class="products__button" type="button"></button>
            </li>
        </ul>
    </div>
</section>