<section id="products" class="section section-products">
  <div class="container">
    <p class="section__pre-title section-products__text">100% natural</p>
    <h2 class="section__title section-product__title">products</h2>

    <ul class="products">
      <li class="products__item product__item--pink list">
        <h3 class="products__title products__title--first">ice cream</h3>
      <div class="products__text">
        <ul class="products__text--first">
          <li>-Ice cream and gelato, based on cream and milk.</li>
          <li>-Frozen yogurt, based on yogurt or kefir.</li>
          <li class="products__text--dots">...</li>
          </ul>
         
         <ul class="products__text--more hidden">
            <li>-Frozen custard, with eggs added to cream and sugar.</li>
            <li>-Ice milk.</li> 
            <li>-Sorbet/slushy, ice pop/popsicle/icicle: Water base. Examples: frozen cola, frozen
            lemonade, frozen tea.</li>
            <li>-Sherbet, like sorbet but with some milk added.</li>
         </ul>
      </div>
        <button class="products__button" type="button"></button>
      </li>
      <li class="products__item product__item--yellow list">
        <h3 class="products__title products__title--second">ice coffee</h3>
        <div class="products__text">
          <ul class="products__text--first">
            <li>-Banana Milk Coffee.</li>
            <li>-Cappuccino on Ice.</li>
            <li>-Creamy Iced Coffee.</li>
            <li>-Iced Caramel Macchiato.</li>
            <li class="products__text--dots">...</li>
          </ul>
          <ul class="products__text--more hidden">
            <li>-Easy Iced Coffee.</li>
            <li>-Cold-Brewed Coffee.</li>
            <li>-Vietnamese Iced Coffee.</li>
            <li>-Chocolate-y Iced Mocha.</li>
            <li>-Chocolate Peanut Butter Iced Coffee.</li>
            <li>-Caramel Coconut Iced Coffee.</li>
            <li>-Mocha Smoothie.</li>
            <li>-whiskey Ice Coffee.</li>
          </ul>
        </div>
        <button class="products__button" type="button"></button>
      </li>
      <li class="products__item product__item--green list">
        <h3 class="products__title products__title--third">milkshakes</h3>
        <div class="products__text">
          <ul class="products__text--first">
            <li>-Oreo Milkshake.</li>
            <li>-Strawberry Milkshake.</li>
            <li>-Vanilla Milkshake.</li>
            <li>-Chocolate Milkshake.</li>
            <li class="products__text--dots">...</li>
          </ul>
          <ul class="products__text--more hidden">
            <li>-Banana Milkshake.</li>
            <li>-Salted Caramel Milkshake.</li>
            <li>-Mounds Bar Milkshake.</li>
            <li>-Cherry Vanilla Milkshake.</li>
            <li>-Mexican Chocolate.</li>
            <li>-Peanut Butter Milkshake.</li>
            <li>-Mint Oreo Milkshake.</li>
            <li>-Tiramisu Milkshake.</li>
            <li>-Grasshopper Milkshake.</li>
            <li>-Key Lime Pie Milkshake.</li>
          </ul>
        </div>

        <button class="products__button" type="button"></button>
      </li>
    </ul>
  </div>
</section>
