<section id="products" class="section-products">
    <div class="container">
        <p class="section__pre-title section-products__text">100% natural</p>
        <h2 class="section__title section-product__title">products</h2>

        <ul class="products">
            <li class="products__item product__item--pink list">
                <h3 class="products__title products__title--first">ice cream</h3>
                <p class="products__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et <span class="products__text--dots">...</span>
                    <span class="products__text--more hidden">erisque enim ligula venenatis dolor. Maecenas nisl est,
                        ultrices nec
                        congue eget,
                        auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi,
                        sed ullamcorper ipsum dignissim ac.</span>
                </p>
                <button class="products__button" type="button"></button>
            </li>
            <li class="products__item product__item--yellow list">
                <h3 class="products__title products__title--second">ice coffee</h3>
                <p class="products__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et <span class="products__text--dots">...</span>
                    <span class="products__text--more hidden">erisque enim ligula venenatis dolor. Maecenas nisl est,
                        ultrices nec
                        congue eget,
                        auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi,
                        sed ullamcorper ipsum dignissim ac.</span>
                </p>
                <button class="products__button" type="button"></button>
            </li>
            <li class="products__item product__item--green list">
                <h3 class="products__title products__title--third">milkshakes</h3>
                <p class="products__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et <span class="products__text--dots">...</span>
                    <span class="products__text--more hidden">erisque enim ligula venenatis dolor. Maecenas nisl est,
                        ultrices nec
                        congue eget,
                        auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi,
                        sed ullamcorper ipsum dignissim ac.</span>
                </p>

                <button class="products__button" type="button"></button>
            </li>
        </ul>
    </div>
</section>