body {
    font-family: 'DM Sans', 'Titan One', sans-serif;
    color: var(--main-text);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.link {
    text-decoration: none;
    font-family: inherit;
    display: inline-block;
}

.list {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}