.backdrop {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  position: fixed;
  // background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}
.modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  min-height: 500px;
  border-radius: 4px;
  padding: 35px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.1)),
    url(/images/modal-img/background-img-1.png);
  @media screen and(min-width:480px) {
    width: 450px;
  }
}
.modal__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: -10px;
}
.modal__nav .item {
  display: flex;
  align-content: center;
  padding: 10px;
}
.modal__nav .item:hover,
:focus {
  color: var(--title-text);
}
.form__text {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.input__text {
  color: var(--accent-color);
  top: -38px;
  left: 10px;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.13;
  letter-spacing: 0.04em;
}
.input__text:hover,
:focus {
  color: var(--title-text);
}
.contact {
  .item + .item {
    margin-top: 5px;
  }
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.contact__modal {
  color: var(--second-text);
}
.contact__modal:hover,
:focus {
  color: var(--title-text);
  background-color: transparent;
}
// .icon-close {
//   fill: #000;
//   background-color: var(--accent-color);
//   border-radius: 50%;
//   position: absolute;
//   top: -30px;
//   right: -10px;
// }
.button__svg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    fill: var(--title-text);
    background-color: var(--accent-color);
  }
  &:focus {
    fill: var(--title-text);
    background-color: var(--accent-color);
  }
}
// .button__svg:hover,
// :focus {
//   fill: var(--title-text);
//   background-color: var(--accent-color);
// }
