.section{
    padding-top: 80px;
    padding-bottom: 40px;

    @media screen and (min-width: $tablet) {
        padding-top: 100px;
    }

    @media screen and (min-width: $desktop) {
        padding-top: 110px;
        padding-bottom: 60px;
    }
}