:root {
    --main-text: #000000;
    --second-text: #907e82;
    --white-text: #ffffff;
    --title-text: #d41443;
    --accent-color: #ffa5ba;
    --main-bg: #fff5f6;
    --second-bg: #ffb8ca;
    --border-color: #E1E1E1;
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;