.about {
    background-color: var(--main-bg);
    padding-top: 40px;
        padding-bottom: 40px;
        
}

.about__main {
    position: relative;
}

.about__img {
    margin-bottom: 40px;
    @media screen and (min-width: 321px) {
            margin-left: auto;
            margin-right: auto;
        }
}

.about__text {
        width: 100%;
        font-family: 'Titan One';
        font-size: 18px;
        line-height: 1.17;
        text-align: center;
        text-transform: uppercase;
        color: var(--accent-color);
        margin-bottom: 15px;
        @media screen and (min-width: 321px) {
                max-width: 200px;
                margin-left: auto;
                margin-right: auto;
            }
}

.about__title {
        width: 100%;
        font-family: 'Titan One';
        font-size: 34px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--title-text);
        margin-bottom: 32px;
        @media screen and (min-width: 321px) {
                max-width: 200px;
                margin-left: auto;
                margin-right: auto;
            }
}

.about__item {
    max-width: 220px;
    margin-bottom: 20px;
        @media screen and (min-width: 321px) {
            margin-left: auto;
            margin-right: auto;
        }
}

.about__item-text {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.62;
}

.about__item-text--pink {
    color: var(--second-text);
}

.about__btn {
    max-width: 176px;
    max-height: 44px;
    border-radius: 22px;
    background-color: #ffffff;
    border: transparent;
    color: var(--title-text);
    font-weight: 700;
    padding: 15px 15px;
        font-size: 14px;
        line-height: 1.3;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    @media screen and (min-width: 321px) {
        width: 176px;
        height: 44px;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
    }
}

.about__icon {
    fill: transparent;
    margin-left: 15px;
}



.about__milk {
    position: absolute;
    width: 100%;
    top: 535px;
    left: 0;
    @media screen and (max-width: 319px) {
        display: none;
    }
}