.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 32px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 12.4px;
  height: 11.84px;
  background-color: transparent;
  border-radius: unset;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('./../images/mobile/testimonials/home1.svg');
}

.swiper-slide__img {
  margin: 0 auto;
  margin-bottom: 32px;
}
.testimonial {
  margin: 0 auto;
  width: 280px;

  position: relative;
  margin-bottom: 32px;
  padding: 0 50px;
  padding-top: 43px;
  padding-bottom: 17px;
  background-color: #fafafa;
}
.testimonial::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 53px;
  width: 54px;
  height: 40px;
  background-size: contain;
  background-image: url('./../images/mobile/testimonials/11.png');
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .testimonial::before {
    background-image: url('./../images/mobile/testimonials/112x.png');
  }
}

.textimonial__wrapper {
  padding-left: 15px;
  padding-right: 8px;
  padding-bottom: 9px;
  background: repeating-linear-gradient(#fafafa, #fafafa 30px, #e1e1e1 30px, #e1e1e1 31px);
}
.testimonial__text {
  position: relative;

  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;

  z-index: 10;
}
.testimonial__name {
  position: relative;

  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
}

.testimonial__name::after {
  content: '';

  position: absolute;
  top: -16px;
  left: 50%;

  transform: translateX(-50%);

  width: 32px;
  height: 4px;
  background-image: url('./../images/mobile/testimonials/dots-mark.png');
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .testimonial__name::after {
    background-image: url('./../images/mobile/testimonials/dots-mark@2x.png');
  }
}
