.footer{
    background-color: var(--main-bg);
}

.footer__main{
    border-bottom: 1px solid #E1E1E1;
}

.pre-title{
    font-family: 'Titan One';
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-color);
    text-align: left;

    width: 230px;
    margin-bottom: 16px;
}

.title{
    font-family: 'Titan One';
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--title-text);
    text-align: left;

    width: 200px;
    margin-bottom: 40px;
}

.footer__soc{
    display: flex;
    margin-bottom: 40px;
    justify-content: flex-end;
}

.footer_item{
    &:not(:last-child){
        margin-right: 28px;
    }
}

.footer__link{
    height: 32px;
    width: 32px;
    background: #FEA5BB;
    border-radius: 50%;

    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus{
        background-color: var(--title-text);
    }
}

.social__icon{
    height: 20px;
    width: 20px;
    fill: var(--white-text);
}

.footer__contact{
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    text-align: right;
    color: var(--main-text);

    margin-bottom: 40px;
}

.footer__tel{
    color: var(--title-text);
}

.footer__extra {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;

    height: 78px;
    width: 140px;
    margin: 0 auto;

    color: var(--second-text);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    @media screen and (min-width: 480px){
        flex-wrap: nowrap;
        width: 270px;
        align-items: center;
        justify-content: space-between;
    }
}

.footer__author{
    height: 20px;

    &+&{
        margin-top: 5px;
        @media screen and (min-width: 480px){
            margin-top: 0;
        }
    }
}