.gallery {
  // padding-top: 40px;
  padding-bottom: 0;
  background-image: linear-gradient(#fff5f6 56%, #ffffff 56%);

  @media screen and(min-width: $tablet) {
    background-image: linear-gradient(#fff5f6 53.5%, #ffffff 53.5%);
  }

  @media screen and(min-width: $desktop) {
    background-image: linear-gradient(#fff5f6 49%, #ffffff 49%);
  }
}

.gallery__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -1px;

  @media screen and(min-width: $tablet) {
    margin-right: auto;
    margin-left: auto;
    margin: -2px;
  }
}

.picture__wrapper {
  border-radius: 10px;
  overflow: hidden;

  @media screen and(min-width: $tablet) {
    border-radius: 15px;
  }

  @media screen and(min-width: $desktop) {
    border-radius: 25px;
  }
}

.picture__wrapper {
  transform: scale(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
}
.picture__wrapper:hover {
  transform: scale(125%);
  z-index: 1;
}

.gallery__column {
  flex-basis: calc((100% - 7 * 2px) / 7);
  margin-left: 1px;
  margin-right: 1px;

  @media screen and(min-width: $tablet) {
    flex-basis: calc((100% - 7 * 4px) / 7);
    margin-left: 2px;
    margin-right: 2px;
  }

  @media screen and(min-width: $desktop) {
    flex-basis: calc((100% - 7 * 8px) / 7);
    margin-left: 4px;
    margin-right: 4px;
  }
}
.gallery__column.big-img {
  flex-basis: calc((100% - 7 * 2px) / 7 * 2);

  @media screen and(min-width: $tablet) {
    flex-basis: calc((100% - 7 * 4px) / 7 * 2);
  }

  @media screen and(min-width: $desktop) {
    flex-basis: calc((100% - 7 * 8px) / 7 * 2);
  }
}

.gallery__column.column-one {
  position: relative;
  bottom: 7px;

  @media screen and(min-width: $tablet) {
    bottom: 7px;
  }

  @media screen and(min-width: $desktop) {
    bottom: 7px;
  }
}

.gallery__column.column-two {
  position: relative;
  top: 1px;

  @media screen and(min-width: $tablet) {
    top: 5px;
  }

  @media screen and(min-width: $desktop) {
    top: 15px;
  }
}

.gallery__column.column-four {
  position: relative;
  top: 11px;

  @media screen and(min-width: $tablet) {
    top: 19px;
  }

  @media screen and(min-width: $desktop) {
    top: 29px;
  }
}

.gallery__column.column-five {
  position: relative;
  bottom: 8px;

  @media screen and(min-width: $tablet) {
    bottom: 15px;
  }

  @media screen and(min-width: $desktop) {
    bottom: 27px;
  }
}

.gallery__column.column-six {
  position: relative;
  top: 1px;

  @media screen and(min-width: $tablet) {
    top: 6px;
  }

  @media screen and(min-width: $desktop) {
    top: 8px;
  }
}

.gallery__row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2px;

  @media screen and(min-width: $tablet) {
    margin-bottom: 4px;
  }

  @media screen and(min-width: $desktop) {
    margin-bottom: 8px;
  }

  &.small-img {
    width: 50%;
  }
}
