.hero {
    background-color: var(--second-bg);
    overflow: hidden;
    & .container {
        position: relative;
        height: 502px;

        @media screen and (min-width:768px) {
            height: 416px;
        }

        @media screen and (min-width:1280px) {
            height: 664px;
        }
    }
}

.hero-wraper {
    position: absolute;
    z-index: 2;
    top: 194px;
   
    @media screen and (min-width: 768px) {
        top: 102px;
        left: 32px;
    }

    @media screen and (min-width: 1280px) {
        top: 147px;
        left: 16px;
    }
}

.hero-title {
    font-style: normal;
    color: var(--white-text);
    font-weight: 400;
    font-size: 28px;
    line-height: 1.153;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        font-size: 22px;
        line-height: 1.136;
    }

    @media screen and (min-width: 1280px) {
        font-size: 38px;
        line-height: 1.157;
    }
}

.hero-title-color {
    color: var(--title-text);
    font-size: 50px;
    line-height: 0.88;
    display: contents;

    @media screen and (min-width: 768px) {
        font-size: 35px;
        line-height: 0.91;
    }

    @media screen and(min-width:1280px) {
        font-size: 59px;
        line-height: 0.745;
    }
}

.hero-list {
    display: flex;
    margin-top: 20px;
}

.hero-item:not(:first-child) {
    margin-left: 8px;

    @media screen and (min-width: 1280px) {
        margin-left: 12px;
    }
}

.hero-btn {
    cursor: pointer;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    color: var(--white-text);
    background-color: var(--title-text);
    border-radius: 20px;
    padding: 8px 16px;
    border: transparent;
    transition: background-color 250ms;
    &:hover {
        background-color: #c7133e;
    }

    @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 1.285;
        padding: 11px 18px;
    }
}

.hero-btn-last {
    background-color: var(--white-text);
    color: var(--title-text);
    &:hover {
        background-color: #ecebeb;
    }
}

.hero-list-time {
    position: absolute;
    right: 42px;
    top: 102px;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1280px) {
        top: 157px;
        right: 16px;
    }
}

.hero-item-time:not(:last-child) {
    margin-bottom: 17px;
}

.hero-text-time {
    position: relative;
    z-index: 5;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--title-text);

    @media screen and (min-width: 1280px) {
        font-size: 46px;
        line-height: 1.152;
    }
}

.hero-number {
    position: absolute;
    right: 0;
    top: -3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--white-text);

    @media screen and (min-width: 1280px) {
        width: 30px;
        height: 30px;
    }
}

.hero-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    color: var(--white-text);
    text-align: center;

    @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 1.286;
    }
}

.hero-thumb {
    position: absolute;
    top: 9px;
    left: 98px;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width:768px) {
        top: 63%;
        left: 45%;
        transform: translate(-50%, -50%); 
    }
    
    @media screen and (min-width: 1280px) {
        top: 63%;
        left: 45%;
        transform: translate(-50%, -50%); 
    }

    @media screen and (min-width: 1280px) {
        top: 63%;
        left: 45%;
        transform: translate(-50%, -50%);
    }
}

.wraper {
    position: absolute;
    display: block;
    width: 346px;
    height: 344px;
    border-radius: 50%;
    background-color: var(--accent-color);
    top: 52%;
    left: 66%;
    transform: translate(-50%, -50%);
    
    @media screen and (min-width: 768px) {
        width: 335px;
        height: 333px;
        top: 49%;
        left: 54%;
        transform: translate(-50%, -50%);
    }

    @media screen and (min-width: 1280px) {
        width: 534px;
        height: 534px;
        top: 48%;
        left: 61%;
        transform: translate(-50%, -50%);

       
    }
}

.hero-thumb-milk {
    position: absolute;
    top: 246px;
    left: 32px;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1280px) {
        top: 388px;
        left: 16px;
    }
}

.text-milc-wrap {
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: var(--white-text);
    width: 114px;
    
    position: absolute;
    left: 148px;
    bottom: 67px;
    overflow-y: scroll;
    
    @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 1.428;
        width: 200px;
        left: 213px;
        bottom: 69px;
    }
}

.hero-btn-milk {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    left: 146px;
    bottom: 43px;
    border: none;
    background-color: var(--white-text);
    background-image: url(/images/mobile/products/arrow-right.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/images/mobile/products/arrow-right2x.png);
    }

    @media screen and (min-width: 1280px) {
        width: 26px;
        height: 26px;
        left: 212px;
        bottom: 26px;
    }
}

.back {
  background-image: url(/images/mobile/products/arrow-up.png);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/mobile/products/arrow-up2x.png);
  }
}

.hero-thumb-girl {
    position: absolute;
    right: 32px;
    bottom: -1px;
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1280px) {
        right: 16px;
    }
}